.leaflet-container {
  width: 100vw;
  height: 100vh;
}

.info-window {
  font-size: 16px;
  color: #1a2a3a;
  line-height: 16px;
}

.info-panel {
  width: 284px;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  margin: 10px;
  padding: 12px 24px;
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  cursor: auto;
  z-index: 999;
  display: none;
}

.legend-panel {
  line-height: 18px;
  color: #555;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  padding: 10px;
  .legend-item {
    margin-top: 5px;

    i {
      width: 18px;
      height: 18px;
      float: left;
      margin-right: 8px;
      opacity: 0.7;
      border-radius: 50%;
    }

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.leaflet-interactive {
  stroke: #585858;
}
